$white-color: #fff;
$black-color:#000;
$primary-color: #1f2b6c;
$secondary-color: #159eec;
$third-color:#BFD2F8;

//font-size

$base-font-size: 16px;
$base-font-weight:500;
$base-line-height: 18.77px;

