.heder__top {
  padding: 19px 0;
  background-color: $white-color;
  width: 100%;
}

.heder__top__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo__container {
  width: 193px;
  height: auto;
}

.header__deatilas__container {
  display: flex;

  .emergency {
    display: flex;
    align-items: flex-start;
    padding-right: 21px;

    .emergency__content {
      padding-left: 5.48px;

      p {
        font-size: $base-font-size;
        font-weight: 500;
        line-height: 18.77px;
      }

      p:nth-child(1) {
        color: $primary-color;
      }

      p:nth-child(2) {
        color: $secondary-color;
      }
    }
  }

  .location {
    padding-right: 0;
  }
}

.header__bottom {
  width: 100%;
  padding: 17px 0;
  background-color: $primary-color;

  .container {
    nav>ul {
      display: flex;

      a {
        color: $white-color;
        font-size: $base-font-size + 2;
        line-height: 21.11px;
        font-weight: 400;
      }

      li {
        padding-right: 25px;

        &:last-child {
          padding-right: 0;
        }
      }
    }

    .header__bottom__cta__container {
      display: flex;
      align-items: center;

      svg {
        cursor: pointer;
      }

      .header__cta__button {
        @include cta__button;
        margin-left: 30px;
      }
    }

    .header__bottom__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.hero__banner {
  position: relative;
  width: 100%;
  height: 100vh;

  // overflow: hidden;
  .hero__banner__cta__container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
    z-index: 100;
    display: flex;
    gap: 21px;

    .cta__appointment {
      background-color: $primary-color;
      border-radius: 5px;
      cursor: pointer;

      .cta__appointment__content {
        padding: 25px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          padding-right: 40px;
          color: $white-color;
          font-size: $base-font-size;
          font-weight: 400;
          line-height: 22.4px;
        }
      }
    }

    .second-bg {
      background-color: $third-color;
    }

    .third-bg {
      background-color: $secondary-color;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .hero__banner__content {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 100%;

    p {
      @include section__sub__title;
      margin-bottom: 8px;
      text-transform: uppercase;
    }

    h1 {
      @include section__title;
      font-size: 48px;
      max-width: 519px;
      line-height: 55.44px;
    }

    button {
      @include cta__button;
    }
  }
}

.about__section {
  @include section__padding;

  .about__section__container {
    padding-top: 64px;
    padding-bottom: 61px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
      @include section__sub__title;
    }

    h3 {
      @include section__title;
    }

    span {
      padding: 0 167px;
      margin-bottom: 32px;
    }

    .redierct__container {
      display: flex;
      align-items: center;

      a {
        color: $secondary-color;
        font-family: 'Work Sans';
        font-size: $base-font-size;
        font-weight: 400;
      }

      svg {
        margin-left: 10px;
      }
    }
  }

  .about__section__image__container {
    width: 100%;
    height: auto;
  }
}

.service__section {
  @include section__bottom__padding;

  .service__section__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      @include section__sub__title;
    }

    h3 {
      @include section__title;
      padding-bottom: 64px;
    }

    .service__section__department__details {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      width: 100%;

      .department__column__container {
        grid-column: span 2;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        border: 1px solid $primary-color;
        background-color: $white-color;

        .free__checkup {
          padding: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          cursor: pointer;

          svg {
            margin-bottom: 8px;
          }

          p {
            font-size: $base-font-size;
            color: $black-color;
            line-height: 1;
            letter-spacing: 0;
            text-transform: capitalize;
            font-weight: 400;
            margin-bottom: 0;
            text-align: center;
          }
        }

        .view__all {
          background-color: $primary-color;
          cursor: pointer;

          p {
            color: $secondary-color;
            font-size: $base-font-size;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0;
            text-align: center;
            text-transform: capitalize;
            ;
            margin-bottom: 0;
            padding: 12px 0;
          }
        }
      }

      .department__text__container {
        grid-column: span 6;
        width: 100%;
        height: auto;

        h3 {
          font-size: 26px;
          color: $black-color;
          font-family: Work Sans;
          font-weight: 500;
          line-height: 1;
          margin-bottom: 24px;
          padding: 0;
        }

        .department__text__container_ul__container {
          display: flex;
          column-gap: 54px;
          margin-bottom: 32px;

          .department__text__container__first__ul {
            ul {
              li {
                display: flex; // Use flexbox to align bullet and text
                align-items: center; // Vertically centers the text and bullet
                margin-bottom: 20px; // Adds spacing between items

                &:last-child {
                  margin-bottom: 0; // Remove margin for the last child
                }

                &::before {
                  content: '';
                  width: 12px;
                  height: 12px;
                  background-color: $secondary-color; // Blue color for the bullet
                  border-radius: 50%;
                  margin-right: 10px; // Adds space between the bullet and the text
                }
              }
            }
          }

        }

        p {
          font-size: $base-font-size;
          font-weight: 400;
          color: $black-color;
          text-transform: initial;
          line-height: 1.4;
          letter-spacing: 0;
        }
      }

      .department__image__container {
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .department__image {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.specilaity__section {
  @include section__bottom__padding;

  .specilaity__section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      @include section__sub__title;
    }

    h3 {
      @include section__title;
      margin-bottom: 64px;
    }

    table {
      width: 100%;
      height: auto;
      border-spacing: unset;

      td {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        padding: 50px 0;
        width: calc(100%/4);
        border: 0.15px solid rgba($color: #000000, $alpha: 19%);

        .td__content__wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          svg {
            margin-bottom: 8px;
          }

          span {
            color: $black-color;
            font-size: $base-font-size;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.appointment__section {
  @include section__bottom__padding;

  .appointment__content__wrapper {
    background-image: url(../../../assets/images/appointment-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 80svh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;

    .appointment__inner__content__wrapper {
      display: flex;
      align-items: center;

      .appointment__text__container {
        flex: 1;
        width: 50%;
        padding-right: 94px;

        h3 {
          @include section__title;
          color: $secondary-color;
        }

        p {
          font-size: $base-font-size;
          font-weight: $base-font-weight;
          color: $black-color;
          line-height: 1.4;
        }
      }

      .appointment__form__container {
        flex: 1;
        width: 50%;

        form {
          width: 100%;

          .row {
            display: flex;

            .col1 {
              width: 50%;

              input {
                height: 50px;
                width: 100%;
                padding-top: 16px;
                padding-bottom: 12px;
                padding-left: 20px;
                color: $secondary-color;
                font-size: 16px;

                &::placeholder {
                  color: $white-color ;
                }
              }

              select {
                height: 50px;
                width: 100%;
                padding-top: 16px;
                padding-bottom: 12px;
                padding-left: 20px;
                padding-right: 18px;
                color: $white-color;
                font-size: 16px;
                -webkit-appearance: none;
                appearance: none;
                position: relative;

                option {
                  color: $white-color;
                }
              }
            }

            .col2 {
              width: 50%;

              input {
                height: 50px;
                width: 100%;
                padding-top: 16px;
                padding-bottom: 12px;
                padding-left: 20px;
                color: $secondary-color;
                font-size: 16px;

                &::placeholder {
                  color: $white-color ;
                }
              }

              select {
                height: 50px;
                width: 100%;
                padding-top: 16px;
                padding-bottom: 12px;
                padding-left: 20px;
                padding-right: 18px;
                color: $white-color;
                font-size: 16px;
                -webkit-appearance: none;
                appearance: none;

                option {
                  color: $white-color;
                }
              }
            }

            .visullay__hidden {
              display: none;
            }
          }

          input,
          textarea,
          select {
            background-color: $primary-color;
          }

          .form__text__area {
            width: 100%;
            padding-left: 20px;
            padding-top: 16px;
            padding-bottom: 152px;
            color: $secondary-color;
            font-size: 16px;

            &::placeholder {
              color: $white-color;
            }
          }

          .form__submit__button {
            width: 100%;
            padding: 15px 0;
            outline: none;
            border: 0;
            background-color: $third-color;
            color: $primary-color;
            font-size: $base-font-size;
            font-weight: $base-font-weight;
            text-transform: uppercase;
          }
        }
      }

    }
  }
}